/*CSS*/
div#venta_info h2, div#venta_info p {
	display: inline;
}

div#bar_product .ui-input-search {
	width: 5% !important;	
}

#nombre_producto {
	width: 20% !important;
}

div.ui-slider {
	width: 15% !important;
}

div#buscar_agregar {
	width: 30%;
	float: right;
	text-align: right;
}

/*a#buscar_producto, div#buscar_agregar div.ui-btn {
	width: 45% !important;
}*/

.jcarousel-container.jcarousel-container-horizontal {
	overflow: hidden;
}

/*div#buscar_agregar div {
	display: inline !important;
}*/